@import "../../index.css";

.card {
  width: 350px;
  box-shadow: var(--primary-border);
  border-radius: 8px;
  background-color: var(--primary-color);
}

.flag {
  user-select: none;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 200px;
}

.infos {
  padding: 2rem;
  line-height: 1.5;
}

.title {
  margin-bottom: 0.5rem;
}

@media (min-width: 1200px) {
  .card {
    width: 285px;
  }
}
