@import "../../index.css";

.card {
  width: 350px;
  box-shadow: var(--primary-border);
  border-radius: 8px;
}

.flag {
  user-select: none;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 200px;
}

.infos {
  padding: 2rem;
  line-height: 1.5;
}

.title {
  margin-bottom: 0.5rem;
}
