@import "../../index.css";

.header {
  display: flex;
  justify-content: center;
  box-shadow: var(--primary-border);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  padding: 1rem;
  height: 16vh;
  width: 100%;
}
