@import "../../index.css";

.element {
  display: flex;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: var(--primary-color);
  box-shadow: var(--primary-border);
  color: var(--primary-text);
}

.icon {
  display: flex;
  align-items: center;
  height: 5vh;
  padding-left: 0.5rem;
}

.searchbar {
  background-color: var(--primary-color);
  height: 5vh;
  width: 100%;
  font-size: 1rem;
  padding-left: 0.5rem;
}

::placeholder {
  color: var(--primary-text);
}

::-ms-input-placeholder {
  color: var(--primary-text);
}

@media (min-width: 480px) {
  .element {
    height: auto;
    width: 45vw;
  }
}
