@import "../../index.css";

.country {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10vh);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.backLink {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  user-select: none;
  width: 100px;
  height: 40px;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: var(--secundary-border);
}

.mySvg {
  color: var(--primary-text);
  width: 25px;
}

.countryMolding {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.flagMolding {
  user-select: none;
  display: flex;
  max-width: 341px;
  max-height: 300px;
}

.countryName {
  font-size: 2rem;
  margin: 1.5rem 0;
}

.divisorLayer3 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.countryInfos {
  line-height: 1.8;
}

.countryBorders {
  margin-top: 2rem;
}

.borderList {
  margin-top: 0.5rem;
  padding: 0.5rem 0.1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  width: content;
  overflow: scroll;
  height: 60px;
  margin-bottom: 2rem;
}

::-webkit-scrollbar {
  display: none;
}

.countryNav {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  box-shadow: var(--secundary-border);
  height: 40px;
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 5px;
  overflow-x: scroll;
}

@media (min-width: 1200px) {
  .backLink {
    width: 120px;
  }

  .countryMolding {
    margin-top: 4rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .flagMolding {
    margin: 0;
    max-width: 600px;
    max-height: 450px;
    margin-right: 2rem;
  }

  .divisorLayer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
  }

  .divisorLayer2 {
    display: flex;
    flex-direction: column;
  }

  .countryName {
    margin: 0;
    margin-top: 2rem;
  }

  .divisorLayer3 {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    width: 100%;
  }

  .countryInfos {
    font-size: 1.2rem;
    width: 300px;
  }

  .countryBorders {
    margin-top: 4rem;
    font-size: 1.1rem;
  }
}
