* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root {
  --secondary-color: #2b3945;
  --secondary-background: #202c37;
  --primary-text: #111517;
  --primary-border: #959da533 0px 8px 24px;
  --primary-background: #fafafa;
  --primary-color: #ffffff;
}

body {
  background-color: var(--primary-background);
}

body,
input,
select,
button {
  font-family: "Nunito Sans";
  font-size: 1rem;
  color: var(--primary-text);
}

h1 {
  font-weight: 800;
  font-size: 1rem;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

span {
  background-color: var(--primary-color);
}

a,
a:visited {
  text-decoration: none;
  color: var(--primary-text);
}

.search-section {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  padding: 0 1rem;
  margin-top: 2rem;
  max-width: 1440px;
  width: 100%;
}

.flags-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 2rem;
  gap: 4rem;
  padding: 1rem;
}
